.timer-box{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    top: 220px;
    left: 570px; */
}
@font-face {
    font-family: 'Digital7';
    src: url('./digital-7\ \(mono\ italic\).ttf');
}
#main-watch{
    font-family: 'Digital7', sans-serif;
    font-weight: 500;
    font-size: 120px;
    margin: 0;
}
#fortitle{
    font-size: 26px;
}
#countdown-box{
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    top: -232px;
    left: -649px;
    width: 1664px;
    height: 100vh;
    display: none;
    cursor: pointer;
    z-index: 1;
}
.edit-box{
    background-color: #5F5F5F;
    width: 470px;
    height: 523px;
    margin: 0 auto;
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 20px;
    animation: editmove 0.3s forwards;
    margin-left: 620px;
}
@keyframes editmove {
    from{margin-top: -200px;}
    to{margin-top: 0}
}
.closebtn{
    color: rgb(236, 235, 235);
    font-size: 20px;
    float: inline-end;
}
.edit-time{
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.edit-sound{
    margin-bottom: 40px;
}
.time-box{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.edit-title{
    margin-bottom: 40px;
}
.edit-btns{
    margin-top: 40px;
}
.edit-btns button{
    padding: 7px 14px;
}
#hoursselect,
#minutesselect,
#secondsselect{
    width: 120px;
    padding: 4px;
    outline: none;
}
#soundselect{
    width: 200px;
    padding: 4px;
    outline: none;
}
#edit-title{
    width: 190px;
    padding: 4px;
    outline: none;
}
label{
    color: rgb(248, 246, 246);
    font-size: 17px;
}
button{
    color: white;
    padding: 10px 25px;
    font-size: 18px;
}
#t-start{
    background-color: #4AAE71;
    border: 1px solid #4AAE71;
}
#t-reset{
    background-color: #FBAD10;
    border: 1px solid #FBAD10;
}
#t-stop{
    background-color: #EF6262;
    border: 1px solid #EF6262;
}
#set-countdown{
    background-color: #0090DD;
    border: 1px solid #0090DD;
}
#edit-start{
    background-color: #4AAE71;
    border: 1px solid #4AAE71;
    padding: 10px 25px;
    font-size: 18px;
}
#edit-cancel{
    background-color: #ffffff;
    border: 1px solid #979997;
    color: #686b68;
    padding: 10px 25px;
    font-size: 18px;
}